/* --- Basic Layout ---  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

.page {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #5995DA;
    height: 80px;
}

.header {
    background-color: #B2D6FF;
}

.content {
    background-color: #EAEDF0;
    height: 600px;
}

.contact {
    background-color: #D6E9FE;
}

.feature-1 {
    background-color: #F5CF8E;
}

.feature-2 {
    background-color: #F09A9D;
}

.feature-3 {
    background-color: #C8C6FA;
}

.footer {
    height: 60px;
}

/* --- Input Form  */

.contact-form {
    width: 300px;
}

.form-input {
    border-radius: 4px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.form-button {
    color: white;
    background-color: #5995DA;
    height: 35px;
    width: 100%;
}

/* --- Cards --- */

.card1 {
    background-image: url('img/starry-night-s.jpg');
}

.card2 {
    background-image: url('img/cloud-1.jpg');
}

.card3 {
    background-image: url('img/code-s.jpg');
}

.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    opacity: 0.7;
}

.card:hover {
    // box-shadow: 0 8 px 16 px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: 0 0 5px grey;
    opacity: 1;
}

/* make the whole div clickable*/
a.div-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.card-caption {
    padding: 2px 16px;
    background-color: #EAEDF0;
    opacity: 0.8;
    color: gray;
    font-weight: bolder;
    box-shadow: 0 0 15px whitesmoke;
    //border-radius: 0px;
}

/* --- Responsive --- */

/* Mobile */
@media only screen and (max-width: 600px) {
    body {
        background-color: #F09A9D; /* Red */
    }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    .card,
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 50%;
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {
    body {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1da36+-1,5195e8+41,5195e8+41,1978e5+98 */
        background: #f1da36; /* Old browsers */
        background: -moz-linear-gradient(top, #f1da36 -1%, #5195e8 41%, #5195e8 41%, #1978e5 98%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1da36 -1%,#5195e8 41%,#5195e8 41%,#1978e5 98%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1da36 -1%,#5195e8 41%,#5195e8 41%,#1978e5 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#1978e5',GradientType=0 ); /* IE6-9 */
    }

    .page {
        width: 960px;
        margin: 0 auto;
    }

    .card,
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 33.3%;
    }

    .header {
        height: 400px;
    }
}